<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
<div class="banner  bg-primary">
    <div class="container position-relative" >
      <div class="home-page  d-flex  pb-4 ">
        <img class="text-img " src="..//assets/images/web/banner/text.png" alt="候選人名" style="object-fit:contain;" >

        <img class="cat-img" src="..//assets/images/web/cat.png" alt="cat.png" style="object-fit: contain;">  
      </div>
      <a href="introduction.html">
        <button type="button" class=" btn btn-dark btn-sm fs-4 " 
        >候選人簡介
         <img src="..//assets/images/icon/enter.png" alt="cat.png">
       </button></a>        
      </div>
 
    </div>


    <!-- <div class="banner  bg-primary">
      <div class="container" >
        <div class="banner-img  position-relative" >
          <img class="text-img position-absolute top-0 start-0" src="..//assets/images/web/banner/text.png" alt="候選人名" style="max-height: 415px;">
          <button type="button" class="btn btn-dark btn-sm position-absolute bottom-0 start-0 fs-4" 
           >候選人簡介
            <img src="..//assets/images/icon/enter.png" alt="cat.png">
          </button>
          <img  class="cat-img position-absolute top-0 end-0" src="..//assets/images/web/cat.png" alt="cat.png"  style="max-height:620px;">
        </div>
  
        </div>
      </div> -->

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
