<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <div class="  bg-primary " style="padding-top:155px; padding-bottom: 300px;">
            <div class="container d-flex flex-lg-column flex-md-column-reverse flex-sm-column-reverse justify-content-center">
             <img src="..//assets/images/web/title.png" alt="" class="introduction-conte-img mx-auto">
                <!-- <img src="..//assets/images/web/title.png" class="introduction-img" alt="..." style="padding: 0 100px; "> -->
            
                <div class="introduction-content position-relative d-flex flex-sm-row border-2 border-dark" style="padding: 200px 0px;">

                    <div class="card p-4" style="max-width: 500px; margin-top:10%;" >
                        <div class="card-body my-3">
                            <h5 class="card-title text-dark h1 fw-bold">喵立翰 <span class="fs-4">Miao Li-Han</span></h5>
                            <p class="card-text text-dark pt-4">推動更完善貓咪福利和政策，間接投資台灣未來。
                                民眾身心健康是推動經濟的核心動力。透過k完善的
                                貓咪福利政策，為台灣GDP經濟帶來巨大效益。讓
                                一同護航台灣幸福經濟，從照顧每一隻貓咪開始。</p>
                        </div>
                    </div>
                    <div class="cat2 card-img ">
                        <img class="m-3" src="../assets/images/web/cat/2.png" alt="" style="align-items:end;">
                    </div>

                </div>
            </div>






            <!-- <div class="introduction-page d-flex flex-column pb-4 ">
                    <img class="text-img " src="..//assets/images/web/title.png" alt="喵的未來圖" style="object-fit:contain;">
                    <div class="introduc-cat d-flex justify-content-md-between">
                        <div class="card border-dark d-flex mb-3" style="max-width: 18rem;">
                            <div class="card-header">喵立翰<span>Miao Li-Han</span></div>
                            <div class="card-body text-dark">
                                <p class="card-text">推動更完善貓咪福利和政策，間接投資台灣未來。
                                    民眾身心健康是推動經濟的核心動力。透過完善的
                                    貓咪福利政策，為台灣GDP經濟帶來巨大效益。讓
                                    一同護航台灣幸福經濟，從照顧每一隻貓咪開始。</p>

                            </div>
                        </div>
                        <img src="../assets/images/web/cat/2.png" alt="">
                    </div>
                </div> -->
        </div>

        </div>
        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>