<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>subject</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <div class="subject bg-primary" style="padding:155px 0;">
            <div class="container ">
                <div class="h1 text-center fw-bolder">政策議題</div>
                <div class="row row-cols-1 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card border-0 mt-5" style="background:#ffffff00;">
                            <img src="../assets/images/mobile/image3.png" class="card-img-top" alt="...">
                            <div class="card-body ">
                                <h3 class="card-title fw-bolder text-center">為毛孩子謀福利！<br>
                                    推動寵物醫療保障方案</h3>
                                <div class="box p-2 bg-warning py-4 lh-1 fs-3 rounded rounded-3">設立寵物醫療基金<br>
                                    <span class="fs-4  fw-light py-4 lh-1">每年撥款新台幣 10 億元，專款專用於支援家庭寵物的醫療費用</span><br><br>
                                    提供醫療補助<br>
                                    <span class="fs-4  fw-light">每隻寵物每年可獲得高達新台幣 20,000 元的醫療補助，減輕飼主的經濟壓力</span><br><br>
                                    合作動物醫院<br>
                                    <span class="fs-4  fw-light">目前已有和超過 200 家動物醫院進行初步的合作討論</span><br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card border-0 mt-5" style="background:#ffffff00;">
                            <img src="../assets/images/mobile/image2.png" class="card-img-top" alt="...">
                            <div class="card-body ">
                                <h3 class="card-title fw-bolder text-center">為毛孩子謀福利！<br>
                                    推動寵物醫療保障方案</h3>
                                <div class="box p-2 bg-warning py-4 lh-1 fs-3 rounded rounded-3 ">設立寵物醫療基金<br>
                                    <span class="fs-4  fw-light py-4 lh-1">每年撥款新台幣 10 億元，專款專用於支援家庭寵物的醫療費用</span><br><br>
                                    提供醫療補助<br>
                                    <span class="fs-4  fw-light">每隻寵物每年可獲得高達新台幣 20,000 元的醫療補助，減輕飼主的經濟壓力</span><br><br>
                                    合作動物醫院<br>
                                    <span class="fs-4  fw-light">目前已有和超過 200 家動物醫院進行初步的合作討論</span><br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card border-0 mt-5" style="background:#ffffff00;">
                            <img src="../assets/images/mobile/image1.png" class="card-img-top" alt="...">
                            <div class="card-body ">
                                <h3 class="card-title fw-bolder text-center">為毛孩子謀福利！<br>
                                    推動寵物醫療保障方案</h3>
                                <div class="box p-2 bg-warning py-4 lh-1 fs-3 rounded rounded-3">設立寵物醫療基金<br>
                                    <span class="fs-4  fw-light py-4 lh-1">每年撥款新台幣 10 億元，專款專用於支援家庭寵物的醫療費用</span><br><br>
                                    提供醫療補助<br>
                                    <span class="fs-4  fw-light">每隻寵物每年可獲得高達新台幣 20,000 元的醫療補助，減輕飼主的經濟壓力</span><br><br>
                                    合作動物醫院<br>
                                    <span class="fs-4  fw-light">目前已有和超過 200 家動物醫院進行初步的合作討論</span><br>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        
        

        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>